{% extends 'base.html' %}

{% block content %}
    <form method="post" class="form-container">
        <h1>{% block title %} Provide a title and abstract for classification{% endblock %}</h1>
        <b>Model specifications (Optional)</b>
        <div class="button-container">
            <label for="model">Choose a Large Language Model (LLM)</label>
            <select name="model" id="model">
                <option value="Model A" selected>Model A</option>
                <option value="Model B">Model B</option>
            </select>
        </div>
        <div class="button-container">
            <label for="temperature">Temperature (0: deterministic, 2: random)</label>
            <input name="temperature" type="number" step="0.1" id="temperature"
                min="0" max="2" value="1">
        </div>
        <br>
        <br>

        <strong><label for="title">Research Title</label></strong>
        <div class="input-wrapper">
            <textarea id="title" name="title" rows="1" cols="80"
                placeholder="Add your research title"
                >{{ request.form['title'] }}
            </textarea>
        </div>

        <strong><label for="content">Research Abstract</label></strong>
        <div class="input-wrapper">
            <textarea id="abstract" name="content"
                placeholder="Add your research abstract or use 'Get Abstract' to fetch a sample abstract for classification."
                rows="15"
                cols="80"
                >{{ request.form['content'] }}
            </textarea>
        </div>

        <div class="button-container">
            <button type="button" formnovalidate onclick="fetch_title_abstract()">Get Abstract</button>
            <button type="button" formnovalidate onclick="clear_title_abstract()">Clear Abstract</button>
            <button type="submit">Classify Abstract</button>
        </div>
    </form>

    <script>
        function fetch_title_abstract() {
            fetch(`/fetch/`)
            .then(function (response) {
                return response.json();
            }).then(function (jsontext) {
                document.getElementById('title').value = jsontext['title'];
                document.getElementById('abstract').value = jsontext['abstract'];
                //console.log('GET response text:');
                //console.log(text);
            });
        }

        function clear_title_abstract() {
            document.getElementById('title').value = "";
            document.getElementById('abstract').value = "";
        }
        clear_title_abstract();
    </script>
{% endblock %}
