{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Provide a title and abstract for classification{% endblock %}</h1>
    <form method="post">
        <b>Model specifications</b>
        <br>
        <label for="model">Choose a LLM model</label>
        <select name="model" id="model">
            <option value="Model A" selected>Model A</option>
            <option value="Model B">Model B</option>
        </select>
        <br>
        <label for="temperature">Temperature (deterministic ... random)</label>
        <input name="temperature" type="number" step="0.1" id="temperature"
        min="0" max="2" value="1">
        <br>
        <br>
        <strong><label for="title">Research Title</label></strong>
        <br>
        <div class="input-wrapper">
            <input id="title" type="text" name="title" style="width: 560px;"
                placeholder="Add your research title"
                value="{{ request.form['title'] }}">
            <button type="button" formnovalidate onclick="fetch_title_abstract()">Get Abstract</button>
        </div>

        <br>
        <strong><label for="content">Research Abstract</label></strong>
        <br>
        <textarea id="abstract" name="content"
                  placeholder="Add your research abstract (use 'Get Abstract' to fetch a sample abstract)"
                  rows="15"
                  cols="80"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit" style="margin-right: 495px;">Classify</button>
        <button type="button" formnovalidate onclick="clear_title_abstract()">Clear Abstract</button>
    </form>

    <script>
        function fetch_title_abstract() {
            fetch(`/fetch/`)
            .then(function (response) {
                return response.json();
            }).then(function (jsontext) {
                document.getElementById('title').value = jsontext['title'];
                document.getElementById('abstract').value = jsontext['abstract'];
                //console.log('GET response text:');
                //console.log(text);
            });
        }

        function clear_title_abstract() {
            document.getElementById('title').value = "";
            document.getElementById('abstract').value = "";
        }
    </script>
{% endblock %}
